<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>Welcome!</h2>
    {% if request.user %}
        <p>You have been registered as {{ user.first_name }} {{ user.last_name }}.</p>
        <p>Your role: {{ user.role }}</p>
        <a href="{% url 'location-adding' %}"><button>Add a location</button></a>
        <a href="{% url 'tournament-creation' %}"><button>Create a tournament</button></a>
        <a href="{% url 'tournaments' %}"><button>Information about all tournaments</button></a>
        <a href="{% url 'logout' %}"><button>Log out</button></a>
    {% endif %}
</body>
</html>